html {
    font-size: 12px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    background-color: #aae;
    color: #fff;
    padding: 5%;
    padding-top: 10%;
    text-align: left;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.6;
    color: #333;
}

nav {
    background-color: #baf;
    color: #fff;
    padding: 0.5rem;
    text-align: center;
}

nav a {
    display: inline-block;
    padding: 0.5rem 1.25rem;
    background-color: #cbf;
    border-radius: 5px;
    color: #fff;
    text-decoration: none;
    margin: 0 0.4rem;
}

nav a:hover {
    text-decoration: underline;
    background-color: #bae;
}

main {
    margin: 0 auto;
    max-width: 1200px;
}

footer {
    font-size: 1rem;
    background-color: #dcf;
    color: #fff;
    text-align: center;
    padding: 1rem;
    margin-top: 0;
}

h1 {
    font-family: Arial, Helvetica, sans-serif;
    color: #fff;
    font-weight: bold;
    line-height: 1.6;
    font-size: 2rem;
    text-align: left;
}

h2 {
    font-family: 'Courier New', Courier, monospace;
    color: #222;
    font-weight: semi-bold;
    line-height: 1;
    font-size: 1.5rem;
    text-align: left;
}

h3 {
    font-family: monospace;
    color: #222;
    font-weight: semi-bold;
    outline-width: 1rem;
    line-height: 1;
    margin: 0.3rem 0.2rem;
    text-align: left;
}

p.box {
    border-radius: 0px;
    padding: 16px;
    background-color: #bbf;
    font-family: Arial, Helvetica, sans-serif;
    color: #222;
    line-height: 1.5;
    margin: 0.8rem 0.5rem;
    font-size: 1.1rem;
    font-weight: normal;
    text-align: justify;
}

.h2box {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 8px;
    background-color: #ddf;
}

.h3box {
    padding: 8px;
    background-color: #ccf;
    font-family: Arial, Helvetica, sans-serif;
    color: #333;
    line-height: 1.5;
    margin: 0.5rem 0.5rem;
    font-weight: normal;
}

.h3boxh3 {
    margin-left: 30px;
}

.imageflexbox {
    display: flex;
    align-items: center;
    justify-items: center;
    flex-direction: column;
}

@media (min-width: 768px) {
    html {font-size: 15px;}
    header {text-align: center; background-color: #99d;}
    h1 {font-size: 3rem; text-align: center;}
    h2 {text-align: center; margin: 0.2rem 0.1rem;}
    h3 {text-align: center;}
    main {padding: 1rem;}
    p.box {background-color: #aaf;}
    .h2box {margin: 1rem 0.5rem 2rem; background-color: #ccf;}
    .h3box {background-color: #bbf;}
}

@media (min-width: 1024px) {
    html {font-size: 20px;}
    main {padding: 2rem;}
}