html {
    font-size: 12px;
}

h1 {
    font-family: Arial, Helvetica, sans-serif;
    color: #fff;
    font-weight: bold;
    line-height: 1.6;
    font-size: 2rem;
    text-align: left;
}

/* 
h2 {
    font-family: Arial, Helvetica, sans-serif;
    color: #444;
    font-weight: semi-bold;
    line-height: 1.2;
    margin: 0.5rem 0 0.5rem 0;
    font-size: 2.5rem;
}
 */
h2 {
    font-family: 'Courier New', Courier, monospace;
    color: #222;
    font-weight: semi-bold;
    line-height: 1;
    font-size: 1.5rem;
    text-align: left;
}

h3 {
    font-family: monospace;
    color: #222;
    font-weight: semi-bold;
    outline-width: 1rem;
    line-height: 1;
    margin: 0.3rem 0.2rem;
    font-size: 1.25rem;
    text-align: left;
}

p.box {
    border-radius: 0px;
    padding: 16px;
    background-color: #aaf;
    font-family: Arial, Helvetica, sans-serif;
    color: #222;
    line-height: 1.5;
    margin: 0.8rem 0.5rem;
    font-weight: normal;
    text-align: justify;
}

.h2box {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 8px;
    background-color: #ccf;
}

.h3box {
    padding: 8px;
    background-color: #bbf;
    font-family: Arial, Helvetica, sans-serif;
    color: #333;
    line-height: 1.5;
    margin: 0.5rem 0.5rem;
    font-weight: normal;
}

.h3boxh3 {
    margin-left: 30px;
}

.imageflexbox {
    display: flex;
    align-items: center;
    justify-items: center;
    flex-direction: column;
}

@media (min-width: 768px) {
    html {font-size: 15px;}
    h1 {font-size: 3rem; text-align: center;}
    h2 {text-align: center; margin: 0.2rem 0.1rem;}
    h3 {text-align: center;}
    main {padding: 1rem;}
    .h2box {margin: 1rem 0.5rem 2rem;}
}

@media (min-width: 1024px) {
    html {font-size: 20px;}
    h1 {font-size: 4rem;}
    main {padding: 2rem;}
}